.list .data-list {
	BORDER-LEFT: #92c0dc 1px solid; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-RIGHT: #92c0dc 1px solid
}
.list .data-list THEAD TD {
	BORDER-BOTTOM: #92c0dc 1px solid; BORDER-LEFT: #92c0dc 1px solid; PADDING-LEFT: 5px; BACKGROUND: #eff7ff; HEIGHT: 27px; COLOR: #007eb6; BORDER-TOP: #92c0dc 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #92c0dc 1px solid
}
.input-text {
	BORDER-BOTTOM: #bac1c7 1px solid; BORDER-LEFT: #bac1c7 1px solid; HEIGHT: 18px; BORDER-TOP: #bac1c7 1px solid; BORDER-RIGHT: #bac1c7 1px solid
}
.list IMG {
	HEIGHT: 16px; CURSOR: pointer
}
TABLE.mars {
	BORDER-LEFT: #d3e4f4 1px solid; WIDTH: 100%; BORDER-COLLAPSE: collapse; MARGIN-BOTTOM: 5px; BORDER-RIGHT: buttonshadow 1px solid
}
TABLE.mars TH {
	BORDER-BOTTOM: #bac1c7 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #bac1c7 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/t_bg03.jpg) repeat-x center 50%; HEIGHT: 20px; COLOR: black; FONT-SIZE: 12px; BORDER-TOP: #bac1c7 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #bac1c7 1px solid; PADDING-TOP: 0px
}
TABLE.mars TH.sortable A {
	COLOR: black
}
TABLE.mars TD {
	BORDER-BOTTOM: #d3d3d3 1px solid; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-LEFT: 0px; HEIGHT: 18px; BORDER-TOP: 0px; CURSOR: default; BORDER-RIGHT: #d8d8d8 1px solid
}
TABLE.mars TR.odd {
	PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #ffffff; HEIGHT: 22px; COLOR: windowtext
}
TABLE.mars TR.even {
	PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #ebf3f7; HEIGHT: 22px; COLOR: windowtext
}
SPAN.pagebanner {
	BORDER-BOTTOM: #999 1px; BORDER-LEFT: #999 1px; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #eee; MARGIN-TOP: 50px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #999 1px; BORDER-RIGHT: #999 1px; PADDING-TOP: 2px
}
SPAN.pagelinks {
	BORDER-BOTTOM: #999 1px; BORDER-LEFT: #999 1px; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #eee; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; MARGIN-BOTTOM: -5px; BORDER-TOP: #999 1px; BORDER-RIGHT: #999 1px; PADDING-TOP: 2px
}
