<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OnlineDisk</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CreateDir</servlet-name>
    <servlet-class>tyut.practice.onlineDisk.servlet.CreateDir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDir</servlet-name>
    <url-pattern>/CreateDir</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>tyut.practice.onlineDisk.servlet.DownloadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFilesInDir</servlet-name>
    <servlet-class>tyut.practice.onlineDisk.servlet.GetFilesInDir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFilesInDir</servlet-name>
    <url-pattern>/GetFilesInDir</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>tyut.practice.onlineDisk.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>tyut.practice.onlineDisk.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>tyut.practice.onlineDisk.servlet.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFile</servlet-name>
    <servlet-class>tyut.practice.onlineDisk.servlet.DeleteFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFile</servlet-name>
    <url-pattern>/DeleteFile</url-pattern>
  </servlet-mapping>
</web-app>